body {
    background-image: url("https://images.pexels.com/photos/3184360/pexels-photo-3184360.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.form-container{
    border: 1px solid #212529;
    border-radius: 15px;
    padding: 10px 10px 10px 10px;
    height: 700px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 222px 70px 500px;
}

input {
    width: 250px;
    border: 2px solid whitesmoke;
    padding: 0;
    margin: 0;
    height: 35px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-indent: 3px;
    color: white;
}

a:hover {
    background-image: linear-gradient(to right, black, darkturquoise);
}

h1{
    color: white;
    text-shadow: 12px 12px 8px black;
}